extends layout

block content
    body
        container
            .row.justify-content-md-center
                .col-md-6
                    .card
                        .card-body
                            h1.card-title Login
                            form(action='/users/login', method='POST')
                                #form-group
                                    label Nazwa Użytkownika:
                                    input.form-control(name='username', type='text')
                                #form-group
                                    label Hasło:
                                    input.form-control(name='password', type='password')
                                br
                                input.btn.btn-primary(type='submit', value='Login')